laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/kerrottuKymmenella/nbproject/private/
/laskarit/viikko2/kerrottuKymmenella/build/
/laskarit/viikko2/kolmellaJaollistenSumma/nbproject/private/
/laskarit/viikko2/kolmellaJaollistenSumma/build/
/laskarit/viikko2/Pyoristelya/nbproject/private/
/laskarit/viikko2/Pyoristelya/build/
/laskarit/viikko2/Karkausvuosi/nbproject/private/
/laskarit/viikko2/Karkausvuosi/build/
/laskarit/viikko2/Fibonacci/nbproject/private/
/laskarit/viikko2/Fibonacci/build/
/laskarit/viikko2/Nugettiostoksilla/nbproject/private/
/laskarit/viikko2/Nugettiostoksilla/build/
/laskarit/viikko2/Suorakulmio/nbproject/private/
/laskarit/viikko2/Suorakulmio/build/
/laskarit/viikko2/Tiedosto/nbproject/private/
/pubivisa/target/